@font-face {
    font-family: "league_gothicregular";
    src: url("../fonts/league_gothic-webfont.eot");
    src: url("../fonts/league_gothic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/league_gothic-webfont.woff2") format("woff2"),
         url("../fonts/league_gothic-webfont.woff") format("woff"),
         url("../fonts/league_gothic-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "league_gothicregular";
    src: url("../fonts/league_gothic-webfont.eot");
    src: url("../fonts/league_gothic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/league_gothic-webfont.woff2") format("woff2"),
         url("../fonts/league_gothic-webfont.woff") format("woff"),
         url("../fonts/league_gothic-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: "league_gothicregular";
    src: url("../fonts/league_gothic-webfont.eot");
    src: url("../fonts/league_gothic-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/league_gothic-webfont.woff2") format("woff2"),
         url("../fonts/league_gothic-webfont.woff") format("woff"),
         url("../fonts/league_gothic-webfont.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;

}
